body{
    font-family: Arial, sans-serif;
    background-color: #7E02ED
}

H1 {
    font-size: 38px;
  }
H2 {
    font-size: 32px
}

.ingredients-list {
    list-style: square inside; 
}

header > img {
    width: 100px;
}

ul li a, figcaption a {
    text-decoration: none;
    color: inherit;
  }

input[type="radio"], select, input[type="submit"] {
    cursor: pointer;
    outline: none;
  }

input:last-child {
    background: gold;
}

ol li:nth-of-type(2n) {
    background-color: whitesmoke;
  }